html,
body {
  font-family: "Quicksand", sans-serif;
  height: 100%;
  background-color: #0bb2e7;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #e6f3ff;
  box-shadow: 0 0 0 #e6f3ff inset, 0 0 0 #e6f3ff;
  outline: 0 none;
}

.section-login {
  width: auto;
}

/* Area login */
.section-login .area-login {
  height: 100vh;
  display: grid;
  align-content: space-evenly;
  padding: 0 50px;
  background-color: white;
}

.section-login h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.section-login .area-login img {
  height: 40px;
}

.section-login .input-group > .input-group-prepend > .input-group-text {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #e6f3ff;
  border: 1px solid #e6f3ff;
  width: 50px;
  position: relative;
}

.section-login .form-control-round {
  height: 45px;
  border-radius: 50px;
  background-color: #e6f3ff;
  border: 1px solid #e6f3ff;
}

.btn-ve {
  color: white;
  background-color: rgb(6, 5, 8);
  height: 45px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
}

.btn-ve:hover {
  color: white;
}

.section-login p {
  font-size: 14px;
  font-weight: 600;
  color: #7c7878;
}

.section-login .link-forgot-password {
  margin-top: 30px;
  color: #7c7878;
  padding-bottom: 50px;
}

/* banner */
.section-login .area-banner {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.section-login .col-pd {
  padding-right: 0px;
  padding-left: 0;
}

.section-login .area-banner img {
  position: absolute;
  bottom: -60px;
  left: 0;
}

.area-banner .powered {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 10px;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.area-banner .powered .exacta {
  display: block;
  width: 70px;
  height: 20px;
  background-image: url(../img/core/exacta.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* ! RESPONSIVE */
@media (max-width: 575.98px) {
  .section-login .area-login {
    padding: 0 20px;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
  .section-login .col-lg-8 {
    display: none;
  }
}

@media (max-width: 1199.98px) {
}
