html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Muli", sans-serif;
}

h3,
h4 {
  color: #222;
}

/*? Jumbotron */
.jumbotron {
  height: 500px;
  background-image: url(/assets/img/core/bgjumbotron.png);
}

.jumbotron h1 {
  text-transform: uppercase;
  font-size: 23px;
  color: white;
  margin-top: 100px;
}

.jumbotron p {
  color: white;
  margin: 30px 0;
  font-size: 17px;
}

.jumbotron a {
  background-color: #0dc152;
  text-transform: uppercase;
  color: white;
  position: relative;
}

.jumbotron a span.wa {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(/assets/img/sosmed/wa.png);
  background-size: cover;
  position: absolute;
  left: 10px;
}

.jumbotron a span.txt {
  padding-left: 30px;
}

.jumbotron a:hover span {
  color: #bffccc;
}

/*? Tentang Kami */
.tentang-kami {
  box-sizing: border-box;
  padding: 50px 0;
}

.tentang-kami h3 {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

.tentang-kami h3.last {
  margin-top: 20px;
}

.tentang-kami h4 {
  font-size: 20px;
}

.tentang-kami .row .col-md-11 p {
  color: #333;
  margin: 20px 0;
}

/*? Keunggulan */
.tentang-kami .keunggulan {
  margin-top: 30px;
}

.tentang-kami .keunggulan .col-10 {
  padding-bottom: 20px;
}

.tentang-kami .keunggulan img {
  width: 50px;
}

.tentang-kami .keunggulan p {
  color: #333;
}

/*? Produk */
.produk {
  background-image: url(/assets/img/core/bgportfolio.png);
  padding: 80px 0;
}

.produk h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 23px;
  font-weight: bold;
}

.produk .card-produk {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.produk .card-produk img {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.produk .card-produk h4 {
  padding: 30px 0;
  color: #333;
  font-size: 20px;
}

.produk .container .row .col-lg-12 ul li:hover a {
  text-decoration: none;
}

/*? Produk Jasa */
.produk-jasa {
  background-image: url(/assets/img/core/bgjasa.png);
  background-size: cover;
  padding-bottom: 60px;
}

.produk-jasa h3 {
  color: white;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 23px;
  font-weight: bold;
}

.produk-jasa img {
  width: 50px;
}

.produk-jasa h4 {
  color: white;
  font-size: 20px;
}

.produk-jasa p {
  color: #fff;
  margin-bottom: 20px;
}

/*? Jasa */
.jasa {
  padding: 80px 0;
  box-sizing: border-box;
}

.jasa h3 {
  padding-bottom: 40px;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

.jasa img.big {
  display: none;
}

.jasa .col-2 img {
  width: 50px;
}

.jasa h4 {
  font-size: 20px;
}

.jasa p {
  color: #333;
}

/*? Partner */
.partner {
  box-sizing: border-box;
  padding: 80px 0;
}

.partner h3 {
  text-align: center;
  padding-bottom: 40px;
  font-size: 23px;
  font-weight: bold;
}

.partner .row .col:nth-child(2) img {
  transform: scale(0.9);
}

.partner .row .col:nth-child(3) img {
  transform: scale(0.65) rotate(1deg);
  margin-top: 10px;
  margin-left: 10px;
}

/*? Hubungi Kami */
.hubungi-kami {
  background-color: #e8e8e8;
  padding: 80px 0;
  position: relative;
  box-sizing: border-box;
}

.hubungi-kami h3 {
  text-align: center;
  padding-bottom: 40px;
  font-size: 23px;
  font-weight: bold;
}

.hubungi-kami .col-lg-6 p {
  color: #333;
  padding: 30px 0;
}

.hubungi-kami img {
  padding-top: 40px;
}

.hubungi-kami .sosmed {
  padding-top: 15px;
}

.hubungi-kami .sosmed a {
  display: flex;
  text-decoration: none;
  padding-bottom: 20px;
}

.hubungi-kami .sosmed .icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.hubungi-kami .sosmed span.nickname {
  color: #333;
  padding-left: 20px;
}

.hubungi-kami .sosmed .icon-wa {
  background-color: #0dc152;
  background-image: url(/assets/img/sosmed/wa.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.hubungi-kami .sosmed .icon-email {
  background-color: #d4d1d1;
  background-image: url(/assets/img/sosmed/email.png);
  background-size: cover;
}

.hubungi-kami .sosmed .icon-fb {
  background-color: #3a62a4;
  background-image: url(/assets/img/sosmed/fb.png);
  background-size: cover;
}

.hubungi-kami .sosmed .icon-twitter {
  background-color: #1da1f2;
  background-image: url(/assets/img/sosmed/twitter.png);
  background-size: cover;
}

.hubungi-kami .sosmed .icon-ig {
  background-color: #a1287d;
  background-image: url(/assets/img/sosmed/ig.png);
  background-size: cover;
}

.hubungi-kami .sosmed .icon-yt {
  background-color: #fe030f;
  background-image: url(/assets/img/sosmed/yt.png);
  background-size: cover;
  background-position-x: 1px;
}

.hubungi-kami button {
  color: white;
  background-image: linear-gradient(150deg, #3a3ac4 26%, #009ffd 74%);
}

.hubungi-kami button:hover {
  color: #bfe5fd;
}

/*? Footer */
.footer {
  position: absolute;
  width: 100%;
  bottom: 5px;
  border-top: 1px solid rgb(206, 212, 218);
  box-sizing: border-box;
}

.footer p {
  text-align: center;
  font-size: 18px;
  color: #333;
  padding-top: 15px;
}

/*? To Top */
.to-top {
  position: fixed;
  width: 30px;
  height: 30px;
  background-image: url(/assets/img/core/top.png);
  background-size: cover;
  bottom: 50px;
  right: 50px;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.to-top.show {
  opacity: 1;
}

/*? Widget */
/*? Animate Jumbotron */
.jumbotron h1,
.jumbotron a,
.jumbotron p {
  transition: 0.3s;
  opacity: 0;
}

.jumbotron h1 {
  transform: translate(0, -150px);
}

.jumbotron p {
  transform: translate(0, -100px);
}

.jumbotron a {
  transform: translate(0, -50px);
}

.jumbotron h1.show,
.jumbotron a.show,
.jumbotron p.show {
  transform: translate(0, 0);
  opacity: 1;
}

/*? Animate Produk */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 999;
  padding: 100px 0;
}

.overlay img {
  max-height: 100%;
  width: 100%;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
}

.overlay:target img {
  animation: zoomFade 0.2s;
}

.overlay .close {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(/assets/img/core/close.png);
  background-size: cover;
  top: 30px;
  left: 47%;
}

.overlay .next,
.overlay .prev {
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: cover;
  cursor: pointer;
}

.overlay .next {
  background-image: url(/assets/img/core/next.png);
  bottom: 20%;
  right: 40%;
}

.overlay .prev {
  background-image: url(/assets/img/core/prev.png);
  bottom: 20%;
  left: 40%;
}

/*? Animate partner */
.partner .container .col {
  transform: translate(0, -50px);
  transition: 0.3s;
  opacity: 0;
}

.partner .container .col.show {
  transform: translate(0, 0);
  opacity: 1;
}

/*? Animations */
@keyframes zoomFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* ?All Animate Produk carousel */
@media (max-width: 575.98px) {
  .produk .container .row:nth-child(2) {
    display: none;
  }

  .produk .col-lg-12 .row .col-md-6 {
    display: initial;
  }

  .produk .jcarousel-pagination {
    display: none;
  }

  .produk .col-md-6 a {
    text-decoration: none;
  }
}

/*TODO Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /*TODO Jumbotron */
  .jumbotron {
    height: 795px;
  }

  .jumbotron h1 {
    font-size: 30px;
    margin-top: 225px;
    font-weight: 500;
  }

  .jumbotron p {
    margin: 45px 0;
    font-size: 20px;
  }

  .jumbotron a span.wa {
    width: 30px;
    height: 30px;
  }

  /*TODO Widget Responsive */
  /*TODO Animate Tentang Kami */
  .tentang-kami .container .col-md-6:nth-child(1),
  .tentang-kami .container .col-md-6:nth-child(3) {
    transform: translate(-50px, 0);
    transition: 0.3s;
    opacity: 0;
  }

  .tentang-kami .container .col-md-6:nth-child(2),
  .tentang-kami .container .col-md-6:nth-child(4) {
    transform: translate(50px, 0);
    transition: 0.3s;
    opacity: 0;
  }

  .tentang-kami .container .col-md-6.show {
    transform: translate(0, 0);
    opacity: 1;
  }

  /*TODO Animate Produk */
  .overlay {
    padding: 100px 0;
  }

  .overlay img {
    max-height: 100%;
    width: auto;
  }

  .overlay .close {
    top: 50px;
    left: 48%;
  }

  .overlay .next {
    bottom: 10%;
    right: 40%;
  }

  .overlay .prev {
    bottom: 10%;
    left: 40%;
  }

  /*TODO Animate Produk Jasa */
  .produk-jasa .container .col-md-6:nth-child(1),
  .produk-jasa .container .col-md-6:nth-child(3) {
    transform: translate(-50px, 0);
    transition: 0.3s;
    opacity: 0;
  }

  .produk-jasa .container .col-md-6:nth-child(2),
  .produk-jasa .container .col-md-6:nth-child(4) {
    transform: translate(50px, 0);
    transition: 0.3s;
    opacity: 0;
  }

  .produk-jasa .container .col-md-6.show {
    transform: translate(0, 0);
    opacity: 1;
  }

  /*TODO Button */
  .jumbotron a,
  .hubungi-kami button {
    padding: 8px 20px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 10px;
  }

  /* TODO Res */
  .produk .container .row:nth-child(2) {
    display: none;
  }

  .produk .col-lg-12 .row .col-md-6 {
    display: initial;
  }

  .produk .jcarousel-pagination {
    display: none;
  }

  .produk .col-md-6 a {
    text-decoration: none;
  }
}

/*! Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*! Navbar */
  .navbar {
    height: 65px;
    position: sticky;
    z-index: 9999;
    transition: top 0.3s;
  }

  .navbar.bg-exacta {
    background-image: linear-gradient(
      to right,
      #1b056b 0%,
      #2a1ce0 50%,
      #4b8ff5 80%
    );
  }

  .navbar .navbar-collapse .navbar-nav a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    box-sizing: border-box;
    padding: 19px 15px;
  }

  .navbar .navbar-collapse .navbar-nav a:hover {
    color: white;
    background-color: rgb(248, 43, 96);
  }

  .navbar .navbar-collapse .navbar-nav a.aktif {
    color: white;
  }

  /*! Jumbotron */
  .jumbotron {
    height: 660px;
    margin-top: -65px;
  }

  .jumbotron h1 {
    font-size: 35px;
    margin-top: 160px;
    font-weight: 500;
  }

  .jumbotron p {
    margin: 45px 0;
    font-size: 23px;
  }

  .jumbotron a {
    margin-top: 15px;
  }

  .jumbotron a span.wa {
    width: 30px;
    height: 30px;
  }

  /*! Tentang Kami */
  .tentang-kami {
    height: 660px;
    padding: 50px 0;
    box-sizing: border-box;
  }

  .tentang-kami h3 {
    font-size: 33px;
    font-weight: 500;
  }

  .tentang-kami h4 {
    font-size: 1.5rem;
  }

  .tentang-kami .row .col-md-11 p {
    font-size: 20px;
  }

  /*! Keunggulan */
  .tentang-kami .keunggulan {
    margin-top: 50px;
  }

  .tentang-kami .keunggulan img {
    width: 70px;
  }

  .tentang-kami .keunggulan p {
    font-size: 20px;
  }

  /*! Produk */
  .produk {
    height: 660px;
  }

  .produk h3 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 33px;
    font-weight: 500;
  }

  .produk h4 {
    font-size: 1.5rem;
  }

  /*! Produk Jasa */
  .produk-jasa {
    height: 680px;
    padding-bottom: 0;
  }

  .produk-jasa h3 {
    padding-top: 60px;
    padding-bottom: 50px;
    font-size: 33px;
    font-weight: 500;
  }

  .produk-jasa h4 {
    font-size: 1.5rem;
  }

  .produk-jasa img {
    width: 70px;
  }

  .produk-jasa p {
    font-size: 20px;
  }

  /*! Jasa */
  .jasa {
    height: 660px;
  }

  .jasa h3 {
    font-size: 33px;
    font-weight: 500;
    padding-top: 40px;
  }

  .jasa h4 {
    font-size: 1.5rem;
  }

  .jasa .col-2 img {
    width: 70px;
  }

  .jasa p {
    padding-bottom: 10px;
    font-size: 20px;
  }

  .jasa img.big {
    display: block;
    transform: scale(0.95);
  }

  .jasa h4,
  .jasa p {
    padding-left: 20px;
  }

  /*! Partner */
  .partner {
    height: 660px;
  }

  .partner h3 {
    font-size: 33px;
    font-weight: 500;
    padding-top: 80px;
  }

  .partner .row .col:nth-child(2) img {
    margin-top: -10px;
  }

  /*! Hubungi Kami */
  .hubungi-kami {
    height: 660px;
  }

  .hubungi-kami h3 {
    padding-bottom: 50px;
    font-size: 33px;
    font-weight: 500;
  }

  .hubungi-kami .col-hk:nth-child(1) {
    padding-right: 25px;
  }

  .hubungi-kami .col-hk:nth-child(2) {
    padding-left: 25px;
  }

  .hubungi-kami input {
    height: 50px;
  }

  .hubungi-kami .col-lg-6 p {
    font-size: 20px;
  }

  .hubungi-kami img {
    padding-top: 0;
  }

  .hubungi-kami .sosmed {
    margin-top: -10px;
  }

  .hubungi-kami .sosmed a {
    font-size: 20px;
  }

  .hubungi-kami .sosmed .icon {
    width: 35px;
    height: 35px;
  }

  .hubungi-kami .sosmed span.nickname {
    padding-left: 20px;
    padding-top: 5px;
  }

  /*! Button */
  .jumbotron a,
  .hubungi-kami button {
    padding: 8px 20px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 10px;
  }

  /*! Widget Responsive */
  /*! Animate Tentang Kami */
  .tentang-kami .container .col-md-6:nth-child(1),
  .tentang-kami .container .col-md-6:nth-child(3) {
    transform: translate(-50px, 0);
    transition: 0.3s;
    opacity: 0;
  }

  .tentang-kami .container .col-md-6:nth-child(2),
  .tentang-kami .container .col-md-6:nth-child(4) {
    transform: translate(50px, 0);
    transition: 0.3s;
    opacity: 0;
  }

  .tentang-kami .container .col-md-6.show {
    transform: translate(0, 0);
    opacity: 1;
  }

  /*! Animate Produk */
  .overlay {
    padding: 100px 0;
  }

  .overlay img {
    max-height: 100%;
    width: auto;
  }

  .overlay .close {
    top: 50px;
    left: 48%;
  }

  .overlay .prev {
    left: 220px;
    top: 47%;
  }

  .overlay .next {
    right: 220px;
    top: 47%;
  }

  .produk .container .row .col-lg-12 ul li a:hover .card-produk {
    transform: scale(1.08);
    transition: 0.3s;
  }

  /*! Animate Produk Jasa */
  .produk-jasa .container .col-md-6:nth-child(1),
  .produk-jasa .container .col-md-6:nth-child(3) {
    transform: translate(-50px, 0);
    transition: 0.3s;
    opacity: 0;
  }

  .produk-jasa .container .col-md-6:nth-child(2),
  .produk-jasa .container .col-md-6:nth-child(4) {
    transform: translate(50px, 0);
    transition: 0.3s;
    opacity: 0;
  }

  .produk-jasa .container .col-md-6.show {
    transform: translate(0, 0);
    opacity: 1;
  }

  /*! Animate Hubungi kami */
  .hubungi-kami .container .col-hk:nth-child(1) {
    transform: translate(-50px, 0);
    transition: 0.3s;
    opacity: 0;
  }

  .hubungi-kami .container .col-hk:nth-child(2) {
    transform: translate(50px, 0);
    transition: 0.3s;
    opacity: 0;
  }

  .hubungi-kami .container .col-hk.show {
    transform: translate(0, 0);
    opacity: 1;
  }

  /* ! Image slider */
  .produk .container {
    position: relative;
  }

  .produk .container a.carousel-control {
    position: absolute;
    width: 30px;
    height: 30px;
  }

  .produk .container a.carousel-control.left {
    background-image: url(/assets/img/core/left.png);
    left: -50px;
    top: 43%;
    color: #009ffd;
  }

  .produk .container a.carousel-control.right {
    background-image: url(/assets/img/core/right.png);
    right: -50px;
    top: 43%;
    color: #009ffd;
  }

  .jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
  }

  .jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4e443c;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;

    -webkit-box-shadow: 0 0 2px #4e443c;
    -moz-box-shadow: 0 0 2px #4e443c;
    box-shadow: 0 0 2px #4e443c;
  }

  .jcarousel-pagination a.active {
    background: #009ffd;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #f0efe7;
    -moz-box-shadow: 0 0 2px #f0efe7;
    box-shadow: 0 0 2px #f0efe7;
  }

  .produk .container .row .col-lg-12 {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .produk .container .row .col-lg-12 ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin-left: -15px;
  }

  .produk .container .row .col-lg-12 ul li {
    float: left;
    padding: 10px;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .produk .container .row .col-lg-12 ul li a {
    display: block;
    max-width: 100%;
    height: auto !important;
  }

  /* !Animate Produk */
  .produk .container .row .col-lg-12 ul li {
    transform: translate(0, -50px);
    transition: 0.3s;
    opacity: 0;
  }

  .produk .container .row .col-lg-12 ul li.show {
    transform: translate(0, 0);
    opacity: 1;
  }

  /* Res */
  .produk .container .row:nth-child(1) {
    display: none;
  }

  .produk .container .row:nth-child(2) {
    display: initial;
  }

  .produk .jcarousel-pagination {
    display: initial;
  }
}
