body {
  font-family: "Muli", sans-serif;
}

/* Navbar */
.navbar {
  position: relative;
  z-index: 1;
}

/* Jumbotron */
.jumbotron {
  position: relative;
  background-image: url(../img/core/b2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 430px;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron .col-md-5 {
  z-index: 2;
}

.jumbotron .col-md-7 {
  margin-top: -60px;
  display: none;
}

.jumbotron h1 {
  font-size: 28px;
  text-transform: uppercase;
}

.jumbotron h1 span {
  font-weight: bold;
}

.jumbotron p {
  margin: 30px 0;
  color: #928f8f;
  font-weight: 200;
}

.jumbotron .col-md-7 img {
  width: auto;
  float: right;
  margin-top: -100px;
  margin-right: -200px;
}

/* Produk */
.page-produk {
  margin: 30px 0;
  height: 400px;
}

.page-produk .col-md-12 h5,
.home-jasa .col-md-12 h5 {
  display: inline-block;
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  color: #928f8f;
  font-size: 17px;
  font-weight: bold;
}

.page-produk .col-md-12 h5::after,
.home-jasa .col-md-12 h5::after {
  display: block;
  content: "";
  border-bottom: 3px solid rgb(248, 43, 96);
  width: 50%;
  margin: auto;
  margin-top: 5px;
}

.page-produk .row-produk {
  margin: 70px 0;
}
/* Home Jasa */

section.home-jasa {
  margin: 70px 0;
}

section.home-jasa .row-jasa {
  margin-top: 70px;
}

section.home-jasa .row-jasa .card,
section.home-jasa .row-benefit .card {
  border-top: 3px solid white;
  position: relative;
}

section.home-jasa .row-jasa .card .card-number,
section.home-jasa .row-benefit .card .card-number {
  width: 50px;
  height: 50px;
  background-color: rgb(201, 196, 196);
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 20px;
  font-size: 30px;
  color: rgb(248, 43, 96);
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

section.home-jasa .row-jasa .card p {
  margin: 35px 15px;
  color: #928f8f;
}

section.home-jasa .row-jasa .card:hover,
section.home-jasa .row-benefit .card:hover {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  border-top: 3px solid rgb(248, 43, 96);
}

/* Home jasa row benefit */
section.home-jasa .row-benefit .card {
  margin: 50px 0;
}
section.home-jasa .row-benefit .card p {
  margin: 35px 15px;
  color: #928f8f;
}
/* BUTTON */
.btn-grad {
  color: white;
  background-color: rgb(248, 43, 96);
  border-radius: 30px;
  font-size: 17px;
  text-transform: uppercase;
  /* font-size: 15px; */
}

.btn-grad:hover {
  color: rgb(248, 43, 96);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(248, 43, 96);
}

/* RENPONSIVE */
@media (min-width: 992px) {
  /* Navbar */
  .navbar .nav-link {
    text-transform: uppercase;
  }

  .navbar .nav-link:hover::after {
    display: block;
    content: "";
    border-bottom: 3px solid rgb(248, 43, 96);
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  /* Jumbotron */

  .jumbotron {
    height: 640px;
    margin-top: -90px;
  }

  .jumbotron::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .jumbotron h1 {
    margin-top: 120px;
    font-size: 33px;
    text-transform: uppercase;
  }

  .jumbotron p {
    margin: 30px 0;
  }

  .jumbotron .col-md-7 {
    margin-top: 0;
    display: block;
  }

  .jumbotron .col-md-7 img {
    width: auto;
    margin-top: auto;
    margin-right: auto;
  }

  /* Produk */
  .page-produk h4,
  .home-jasa h4 {
    margin-top: 20px;
    font-weight: 380;
    font-size: 27px;
  }

  /* Home Jasa */
  section.home-jasa {
    margin-top: 350px;
  }

  section.home-jasa .row-jasa .col-md-3:nth-child(2) {
    margin-top: 50px;
  }

  section.home-jasa .row-jasa .col-md-3:nth-child(3) {
    margin-top: 100px;
  }

  section.home-jasa .row-jasa .col-md-3:nth-child(4) {
    margin-top: 150px;
  }

  /* BUTTON */
  .btn-grad {
    color: white;
    background-image: linear-gradient(
      -315deg,
      rgb(248, 43, 96) 27%,
      #bb0b0b 74%
    );
    border-radius: 30px;
    font-size: 17px;
    text-transform: uppercase;
    /* font-size: 15px; */
  }
  .btn-grad:hover {
    color: rgb(248, 43, 96);
    background-image: linear-gradient(-315deg, white 27%, white 74%);
    border: 1px solid rgb(248, 43, 96);
  }
}
