body {
  font-family: "Muli", sans-serif;
}

/* Navbar */
.navbar {
  position: relative;
  z-index: 1;
}

/* Jumbotron */
.jumbotron {
  position: relative;
  background-image: url(../img/core/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 430px;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron .col-md-5 {
  z-index: 2;
}

.jumbotron .col-md-7 {
  margin-top: -60px;
  display: none;
}

.jumbotron h1 {
  font-size: 28px;
  text-transform: uppercase;
}

.jumbotron h1 span {
  font-weight: bold;
}

.jumbotron p {
  margin: 30px 0;
  color: #928f8f;
  font-weight: 200;
}

/* !Animation */
.jumbotron h1 {
  opacity: 0;
  transform: translate(0, -50px);
  transition: 0.3s;
}
.jumbotron h1.show {
  opacity: 1;
  transform: translate(0, 0);
}
.jumbotron p {
  opacity: 0;
  transition: 0.3s;
}
.jumbotron p.show {
  opacity: 1;
}
.jumbotron a {
  opacity: 0;
  transform: translate(0, 50px);
  transition: 0.3s;
}
.jumbotron a.show {
  opacity: 1;
  transform: translate(0, 0);
}
/* !End */

/* Produk , Home Jasa */
.page-produk {
  margin: 50px 0;
}

.page-produk .col-md-12 h5,
.home-jasa .col-md-12 h5 {
  display: inline-block;
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  color: #928f8f;
  font-size: 17px;
  font-weight: bold;
}

.page-produk .col-md-12 h5::after,
.home-jasa .col-md-12 h5::after {
  display: block;
  content: "";
  border-bottom: 3px solid rgb(248, 43, 96);
  width: 50%;
  margin: auto;
  margin-top: 5px;
}

/* Produk Home */
.page-produk .row-produk {
  margin: 50px 0;
}

.page-produk .row-produk a {
  text-decoration: none;
}

.page-produk .row-produk .card-produk {
  margin: 20px 0;
  border-top: 3px solid white;
  cursor: pointer;
}

.page-produk .row-produk .card-produk img {
  border-bottom: 3px solid #dfdcdc;
}

.page-produk .row-produk .card-produk h5 {
  padding: 20px 0;
  color: #928f8f;
  font-size: 18px;
}

.page-produk .row-produk .card-produk:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.page-produk .row-produk .card-produk:hover img {
  border-bottom: 3px solid rgb(248, 43, 96);
}

/* Overlay */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.5s;
  text-align: center;
  padding: 100px 0;
}

.overlay:target {
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay:target img {
  animation: zoomFade 0.3s;
}

.overlay img {
  max-height: 100%;
  padding: 0 10px;
}

.overlay .close {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -10px;
  margin-top: 50px;
  color: white;
  opacity: 0;
  display: none;
  padding: 0 5px;
  border: 1px solid white;
  line-height: 100%;
}

.overlay:target .close {
  display: block;
  animation: slideDown 0.3s forwards;
}

.next,
.prev {
  position: absolute;
  font-size: 30px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.next {
  top: 35%;
  right: 0;
}

.prev {
  top: 35%;
  left: 0;
}

.prev:hover i,
.next:hover i {
  color: rgb(248, 43, 96);
}

@keyframes zoomFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: 50px;
  }
}

/* Home Jasa */
div.home-jasa {
  margin: 70px 0;
}

div.home-jasa .row-jasa {
  margin-top: 50px;
}

div.home-jasa .row-jasa .card-pr {
  border-top: 3px solid white;
  position: relative;
}

div.home-jasa .row-jasa .card-pr .card-number {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 20px;
  font-size: 30px;
  color: rgb(248, 43, 96);
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

/* !Animation */
div.home-jasa .row-jasa .col-md-6:nth-child(1) {
  opacity: 0;
  transform: translate(0, 50px);
  transition: 0.3s;
}
div.home-jasa .row-jasa .col-md-6:nth-child(2) {
  opacity: 0;
  transform: translate(0, 50px);
  transition: 0.3s;
}
div.home-jasa .row-jasa .col-md-6:nth-child(1).show {
  opacity: 1;
  transform: translate(0, 0);
}
div.home-jasa .row-jasa .col-md-6:nth-child(2).show {
  opacity: 1;
  transform: translate(0, 0);
}
/* !End */

div.home-jasa .row-jasa .card-pr p {
  margin: 5px 20px;
  color: #928f8f;
  padding-bottom: 10px;
}

div.home-jasa .row-jasa .card-pr p.m-t-3 {
  margin-top: 35px;
}

div.home-jasa .row-jasa .card-pr:hover {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  border-top: 3px solid white;
}

/* Custom Produk */
.custom-produk {
  margin: 70px 0;
}

.custom-produk .row-custom-produk {
  margin-top: 30px;
}

.custom-produk .col-md-12 h5 {
  display: inline-block;
  width: 80px;
  text-transform: uppercase;
  text-align: center;
  color: #928f8f;
  font-size: 17px;
  font-weight: bold;
}

.custom-produk .col-md-12 h5::after {
  display: block;
  content: "";
  border-bottom: 3px solid rgb(248, 43, 96);
  width: 50%;
  margin: auto;
  margin-top: 5px;
}

.custom-produk .row-custom-produk .card-cp h5 {
  font-size: 22px;
}

.custom-produk .row-custom-produk .card-cp p {
  color: #928f8f;
}
/* Custom Jasa */
.custom-jasa {
  margin: 70px 0;
}

.custom-jasa .row-custom-jasa {
  margin-top: 50px;
}

.custom-jasa .col-md-12 h5 {
  display: inline-block;
  width: 50px;
  text-transform: uppercase;
  text-align: center;
  color: #928f8f;
  font-size: 17px;
  font-weight: bold;
}

.custom-jasa .col-md-12 h5::after {
  display: block;
  content: "";
  border-bottom: 3px solid rgb(248, 43, 96);
  width: 50%;
  margin: auto;
  margin-top: 5px;
}

.custom-jasa .row-custom-jasa h5 {
  font-size: 22px;
}

.custom-jasa .row-custom-jasa p {
  color: #928f8f;
}

/* !Animation */
.custom-jasa .row-custom-jasa .col-md-5:nth-child(1) {
  opacity: 0;
  transform: translate(0, 50px);
  transition: 0.3s;
}
.custom-jasa .row-custom-jasa .col-md-5:nth-child(2) {
  opacity: 0;
  transform: translate(0, 50px);
  transition: 0.3s;
}
.custom-jasa .row-custom-jasa .col-md-5:nth-child(1).show {
  opacity: 1;
  transform: translate(0, 0);
}
.custom-jasa .row-custom-jasa .col-md-5:nth-child(2).show {
  opacity: 1;
  transform: translate(0, 0);
}
/* !End */

/* Tentang Kami */
.tentang-kami {
  text-align: center;
  margin: 50px 0;
}

.tentang-kami h4 {
  width: 170px;
  font-size: 24px;
  margin: 20px auto;
}

.tentang-kami h4::after {
  display: block;
  content: "";
  border-bottom: 3px solid rgb(248, 43, 96);
  width: 50%;
  margin: 7px auto;
}

.tentang-kami p {
  color: #928f8f;
  text-align: center;
}

/* Partner */
.partner {
  margin: 70px 0;
}

.partner .row-partner {
  margin-top: 50px;
}

.partner .col-md-12 h5 {
  display: inline-block;
  width: 80px;
  text-transform: uppercase;
  text-align: center;
  color: #928f8f;
  font-size: 17px;
  font-weight: bold;
}

.partner .col-md-12 h5::after {
  display: block;
  content: "";
  border-bottom: 3px solid rgb(248, 43, 96);
  width: 50%;
  margin: auto;
  margin-top: 5px;
}

/* !Animation */
.partner .row-partner .col-lg-3 {
  opacity: 0;
  transform: translate(0, -50px);
  transition: 0.3s;
}
.partner .row-partner .col-lg-3.show {
  opacity: 1;
  transform: translate(0, 0);
}
/* !End */

/* Hubungi kami */
.hubungi-kami {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #0e79b8 100%);
  padding: 30px 0 30px 0;
}

.hubungi-kami h5 {
  font-size: 17px;
  color: white;
  text-transform: uppercase;
  width: 150px;
  margin: auto;
}

.hubungi-kami h5::after {
  display: block;
  content: "";
  border-bottom: 3px solid white;
  width: 50%;
  margin: auto;
  margin-top: 7px;
}

.hubungi-kami .row-hubungi-kami {
  margin: 30px 0 0 0;
}

.hubungi-kami .row-hubungi-kami a {
  font-size: 18px;
  text-decoration: none;
  color: #ebe1e1;
}

.hubungi-kami .row-hubungi-kami a:hover {
  color: #d6e2dc;
}

.hubungi-kami .row-hubungi-kami p {
  color: #696666;
}

/* BUTTON */
.btn-grad {
  color: white;
  background-color: rgb(248, 43, 96);
  border-radius: 30px;
  font-size: 17px;
  text-transform: uppercase;
  /* font-size: 15px; */
}

.btn-grad:hover {
  color: rgb(248, 43, 96);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(248, 43, 96);
}

.btn-wa {
  color: white;
  background-color: #0dc152;
  border-radius: 30px;
  font-size: 17px;
  text-transform: uppercase;
  /* font-size: 15px; */
}
.btn-wa:hover {
  color: #0dc152;
  background-color: white;
  border: 1px solid #0dc152;
}

/* TODO */
.nav-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 30px;
  border: 1px solid rgb(248, 43, 96);
  line-height: 100%;
  color: rgb(248, 43, 96);
  padding: 5px;
  display: block;
}

.nav-up:hover i {
  color: rgb(248, 43, 96);
}

.sticky-top {
  position: sticky;
  z-index: 9999;
  /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); */
}
/* TODO */

/* RENPONSIVE */
@media (min-width: 992px) {
  /* Navbar */
  .navbar .nav-link {
    text-transform: uppercase;
  }

  .navbar .nav-link:hover::after {
    display: block;
    content: "";
    border-bottom: 3px solid rgb(248, 43, 96);
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  /* Jumbotron */

  .jumbotron {
    height: 640px;
    margin-top: -90px;
  }

  .jumbotron::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .jumbotron h1 {
    margin-top: 120px;
    font-size: 33px;
    text-transform: uppercase;
  }

  .jumbotron p {
    margin: 30px 0;
  }

  .jumbotron .col-md-7 {
    display: block;
    margin-top: 70px;
  }

  .page-produk {
    margin-top: -100px;
  }

  /* Produk */
  .page-produk h4,
  .home-jasa h4,
  .custom-produk h4,
  .custom-jasa h4 {
    margin-top: 20px;
    font-weight: 380;
    font-size: 27px;
  }

  /* Home Jasa */

  /* prev next */

  .next {
    right: 250px;
    top: 50%;
    margin-top: -30px;
  }

  .prev {
    left: 250px;
    top: 50%;
    margin-top: -30px;
  }

  /* Custom produk */
  .custom-produk .row-custom-produk .col-md-12 {
    margin-top: 15px;
  }

  /* Tentang kami */
  .tentang-kami {
    text-align: left;
  }

  .tentang-kami h4 {
    margin: 100px 0 30px 0;
    margin-left: -5px;
  }

  .tentang-kami h4::after {
    display: block;
    content: "";
    border-bottom: 3px solid rgb(248, 43, 96);
    width: 50%;
    margin-top: 7px;
    float: left;
  }

  .tentang-kami p {
    text-align: left;
  }

  /* BUTTON */
  .btn-grad {
    color: white;
    background-image: linear-gradient(
      -315deg,
      rgb(248, 43, 96) 27%,
      #bb0b0b 74%
    );
    border-radius: 30px;
    font-size: 17px;
    text-transform: uppercase;
    /* font-size: 15px; */
  }
  .btn-grad:hover {
    color: rgb(248, 43, 96);
    background-image: linear-gradient(-315deg, white 27%, white 74%);
    border: 1px solid rgb(248, 43, 96);
  }
}
